@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 12px;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background-color: #0f172a ;
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    background-color: #444955 ;
}


@layer base{
    @font-face {
        font-family: "vazir";
        src: url(../src/fonts/Vazir-FD-WOL.ttf) format("truetype");
    }
    @font-face {
        font-family: "vazir-bold";
        src: url(../src/fonts/Vazir-Bold-FD-WOL.ttf) format("truetype");
    }
    @font-face {
        font-family: "vazir-light";
        src: url(../src/fonts/Vazir-Light-FD-WOL.ttf) format("truetype");
    }
    @font-face {
        font-family: "iransans";
        src: url(../src/fonts/iransansdnweb.ttf) format("truetype");
    }
    @font-face {
        font-family: "iransans-light";
        src: url(../src/fonts/iransansdnlight.ttf) format("truetype");
    }
    @font-face {
        font-family: "Varelmo";
        src: url(../src/fonts/Varelmo.ttf) format("truetype");
    }
    @font-face {
        font-family: "ABSTER";
        src: url(../src/fonts/ABSTER.otf) format("opentype");
    }
}